@page "{id}"
@model DeleteModel
@{
    ViewData["Title"] = "Delete Club";
    Layout = "_AdminLayout";
}
<div style="position: relative;">
    <img src="https://t3.ftcdn.net/jpg/04/84/86/42/360_F_484864213_3Qve2ufnWY7Wkqk9r6RXXVUbraC6lfvQ.jpg" alt="Background Image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0.5; margin-bottom: -5px; min-height: 850px;">
    <div class="container mb-30 text-center mx-auto">
        <h1 class="mb-4" style="font-size: 2.5rem; color: #dc3545;">Delete Club</h1>
        <div class="row mt-5">
            <div class="col-md-8 mx-auto">
                <div class="alert alert-warning" role="alert">
                    <h3 style="display: inline-block; background-color: #f8d7da; color: #721c24; padding: 10px; border: 1px solid #f5c6cb; border-radius: 5px;">Are you sure you want to delete this club?</h3>
                </div>
                <div class="mt-4 text-center">
                    <div class="bg-primary text-light p-2">
                        <h4 style="color: #28a745; font-size: larger; font-weight: bold;">@Model.Club.Name</h4>
                    </div>
                    <div class="text-left mt-2 mx-auto" style="max-width: 300px;">
                        <p class="my-2">Description: @Model.Club.Description</p>
                        <p class="my-2">Address: @Model.Club.Address</p>
                        <p class="my-2">District: @Model.Club.District</p>
                        <p class="my-2">City of province: @Model.Club.CityOfProvince</p>
                        @if (!string.IsNullOrEmpty(Model.Club.LogoUrl))
                        {
                            <p class="text-left my-2">Logo:</p>
                            <img src="@Model.Club.LogoUrl" alt="Club Logo" class="mx-auto d-block my-2" style="max-width: 200px; height: auto;" />
                        }
                    </div>
                </div>
                <form method="post" class="mt-5">
                    <button type="submit" class="btn btn-danger mb-10" style="font-size: 20px; padding: 10px 25px; border: none; color: #fff; background-color: #dc3545; cursor: pointer; border-radius: 10px;">Delete</button>
                    <a asp-page="Index" class="btn btn-secondary ml-3" style="font-size: 20px; padding: 10px 25px; border: none; color: #fff; background-color: #28a745; cursor: pointer; border-radius: 10px;">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</div>