@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_AdminLayout";
}
<div style="position: relative;">
    <div class="container mb-30 text-center mx-auto">
        <h1 class="mb-4" style="font-size: 2.5rem; color: #dc3545;">Delete</h1>
        <div class="mt-5">
            <div class="col-md-8 mx-auto">
                <div class="alert alert-warning text-center" role="alert">
                    <h3 style="display: inline-block; background-color: #f8d7da; color: #721c24; padding: 10px; border: 1px solid #f5c6cb; border-radius: 5px;">Are you sure you want to delete this?</h3>
                </div>
                <div class="mt-4 text-center">
                    <div class="text-left mt-2 mx-auto" style="max-width: 300px;">
                        <p class="my-2">Name: @Html.DisplayFor(model => model.Court.Club.Name)</p>
                        <p class="my-2">Number: @Html.DisplayFor(model => model.Court.Num)</p>
                        <p class="my-2">Status: @Html.DisplayFor(model => model.Court.Status)</p>
                        <p class="my-2">Status: @Html.DisplayFor(model => model.Court.Club.Address)</p>
                        <p class="my-2">Status: @Html.DisplayFor(model => model.Court.Club.District)</p>
                        <p class="my-2">Status: @Html.DisplayFor(model => model.Court.Club.CityOfProvince)</p>
                        <p class="my-2">Created Date: @Html.DisplayFor(model => model.Court.CreatedDate)</p>
                </div>
                </div>
                <form class="mt-4" method="post">
                    <input type="hidden" asp-for="Court.Id" />
                    <button type="submit" class="btn btn-danger" style="font-size: 20px; padding: 10px 25px; border: none; color: #fff; background-color: #dc3545; cursor: pointer; border-radius: 10px;">Delete</button>
                    <a asp-page="./Index" class="btn btn-secondary" style="font-size: 20px; padding: 10px 25px; border: none; color: #fff; background-color: #28a745; cursor: pointer; border-radius: 10px;">Back to List</a>
                </form>
            </div>
        </div>
    </div>

</div>
