@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "_AdminLayout";
}

<div style="position: relative;">
    <div class="container mb-30 text-center mx-auto">
        <h1 style="font-size: 2.5rem; color: #007bff;">Court Details</h1>
        <div class="row mt-5">
            <div class="col-md-8 mx-auto">
                <div class="mt-4 text-center">
                    <div class="bg-primary text-light p-2">
                        <h4 style="color: #28a745; font-size: xx-large; font-weight: bold;">Court Number: @Html.DisplayFor(model => model.Court.Num)</h4>
                    </div>
                    <div class="text-left mt-2 mx-auto" style="max-width: 300px;">
                        <p class="my-2">Status: @Html.DisplayFor(model => model.Court.Status)</p>
                        <p class="my-2">Club: @Html.DisplayFor(model => model.Court.Club.Name)</p>
                        <p class="my-2">Created Date: @Html.DisplayFor(model => model.Court.CreatedDate)</p>
                    </div>
                </div>
                <div class="mt-5 mb-10">
                    <a asp-page="./Edit" asp-route-id="@Model.Court.Id" class="btn btn-primary" style="font-size: 20px; padding: 10px 25px; border: none; color: #fff; background-color: #007bff; cursor: pointer; border-radius: 10px;">Edit</a>
                    <a asp-page="./Index" class="btn btn-secondary ml-3" style="font-size: 20px; padding: 10px 25px; border: none; color: #fff; background-color: #28a745; cursor: pointer; border-radius: 10px;">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
